html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;}

body {
    display: flex;
    margin: 0 auto;
    flex-flow: row nowrap;
    justify-content: center;
}

.game {
    display: flex;
    height: 100vh;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    /* position: relative;     */
}

.start {
    /* z-index: 100; */
    display: block;
    width: 400px;
    height: 400px;
    /* position: absolute;
    top: 0px;
    left: 0px; */
    background: transparent url('image/start.jpeg') center / cover no-repeat;
    text-align: center;
    font-size: 30px;
    font-family: 'Racing Sans One', cursive;
    color: black;
    text-transform: uppercase;
}

.btn {
    box-sizing: border-box;
    padding: 8px 15px;
    line-height: 1rem;
    cursor: pointer;
    font-family: 'Racing Sans One', cursive;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid grey;
    outline: none;    
}

.btn:hover {
    color: red;
    box-shadow: 0px 0px 10px 4px #f20c1a inset;
    outline: none;
}
.btn:focus {
    outline: none;
}

.start:hover {
    cursor: pointer;
    color: blue;
}

.hide {
    display: none;
}

.car,
.enemy {
    width: 50px;
    height: 100px;
    background: transparent url('./image/mcq.png') center / cover no-repeat;
    position: absolute;
    /* left: 125px;
    bottom: 10px; */
}

p {
    margin-bottom: 10px;
}


.gameArea {
    width: 300px;
    height: 100%;
    position: relative;
    background: rgb(104, 101, 101);
    margin: auto;
    overflow: hidden;
}

.line {
    position: absolute;
    width: 10px;
    height: 80px;
    background: #ffff;
    left: 145px;
}

.score {
    display: block;
    position: absolute;   
    width: 100vw;
    top: 0;
    z-index: 200;
    background: black;
    font-family: 'Racing Sans One', cursive;
    font-size: 15px;
    box-sizing: border-box;
    padding: 10px 0;
    text-align: center;
    color: white;
}

.sound {
    display: block;
    position: absolute;
    left: calc(100vw /2 + 200px);
    top: 50px;
}